# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/

# Environment variables
.env
.env.*

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Dev Containers
.devcontainer/

# Testing
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Logs
*.log

# SQLite
*.db
*.sqlite3

# Build artifacts
build/
dist/
*.egg-info/

# Node
node_modules/